---
import "./SkillsList.css";

type TSkills = {
    skillType: string;
    name: string[];
}

const skills: ({ skillType: string; name: string[] })[] = [
    {
        skillType: "Languages",
        name: ["Typescript", "Python", "Bash"]
    },
    {
        skillType: "Frameworks",
        name: ["React", "Django", "Node"]
    },
    {
        skillType: "Libraries",
        name: ["Vite", "Vitest", "Jest", "Mocha", "Tailwind"]
    }
]
---

<div class="skillsBox">
    {
        skills.map((skills: TSkills) => (
                <div class="skillGridContainer">
                    <p class="skillSubtitle">{skills.skillType}</p>
                    <ul class="skillListContainer">
                        {
                            skills.name.map((name: string) => (
                                    <li class="skillList">{name}</li>
                            ))
                        }
                    </ul>
                </div>
        ))
    }
</div>