.cvContainer {
  margin: 0 0 0 0;
  padding-top: var(--spacer-1xl);
  padding-left: var(--spacer-2xl);
  max-width: 880px;
}

.jobTitleContainer {
  color: #e4eef9;
  font-size: 110%;
}

.jobTitle {
  margin: 0;
}

.date {
  color: #cfdbe9;
  font-style: italic;
  padding: var(--spacer-m) 0;
}

.description {
  color: #cfdbe9;
  padding-bottom: var(--spacer-2xl);
  font-weight: 200;
  line-height: 150%;
}

.skillPip {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: var(--spacer-s) var(--spacer-m);
  margin-top: var(--spacer-m);
  border-radius: 10px;
  text-shadow: #b5b3b3 0 0 5px;
  color: white;
  width: fit-content;
}

.skillContainer {
  display: flex;
  gap: var(--spacer-m);
}

@media only screen and (max-width: 1100px) {
  .cvContainer {
    padding-left: var(--spacer-m);
    max-width: 700px;
  }
}

@media only screen and (max-width: 1010px) {
  .cvContainer {
    padding-left: var(--spacer-2xl);
    max-width: 780px;
  }
}

@media only screen and (max-width: 840px) {
  .cvContainer {
    padding-left: var(--spacer-1xl);
    padding-right: var(--spacer-1xl);
  }
}
