.contentContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.aboutIntroText {
  margin-top: 0;
}

.textBoxContent {
  font-size: 125%;
  color: #cbd5e0;
  font-weight: 200;
}

.column {
  column-count: 2;
  margin-top: var(--spacer-xl);
}

.hobbyListContainer {
  margin: 0 0 0 0;
  padding: var(--spacer-s) var(--spacer-l);
}

.hobbyList {
  color: pink;
}

.photoContainer {
  width: 419px;
  justify-self: flex-end;
}

.photo {
  height: 450px;
  width: 419px;
}

.rightPageDivider {
  display: grid;
  grid-area: 1 / 3 / 3 / 4;
}

.aboutPageTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacer-3xl);
}
