---
import Layout from '../layouts/Layout.astro';
import './about.css';
---

<Layout title="Aleks Saunders Portfolio">
    <main>
        <body>
        <div class="pageDividerContainer"></div>
        <div>
            <h1 class="title">hello.</h1>
            <h2 class="title">testing</h2>
        </div>
        </body>
    </main>
</Layout>