.aboutIntroText {
  margin-top: 0;
}

.textBoxContent {
  font-size: 120%;
  color: #cbd5e0;
  font-weight: 200;
}

.column {
  column-count: 2;
  margin-top: var(--spacer-l);
}

.hobbyListContainer {
  margin: 0 0 0 0;
  padding: var(--spacer-s) 0 0 var(--spacer-l);
}

.hobbyList {
  color: pink;
}

.photoContainer {
  width: 419px;
  justify-self: flex-end;
}

.photo {
  height: 450px;
  width: 419px;
}

.aboutPageTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacer-2xl);
}

@media only screen and (max-width: 915px) {
  .aboutPageTemplate {
    margin-left: var(--spacer-2xl);
  }
}

@media only screen and (max-width: 805px) {
  .aboutPageTemplate {
    margin-left: var(--spacer-xl);
  }

  .photoContainer {
    grid-row: 1 / 2;
  }

  .textBoxContent {
    grid-row: 2 / 3;
  }

  .aboutPageTemplate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer-l);
  }
}
