---
import Page from '../layouts/Page.astro';
import "./about.css";
import NavBar from "../components/NavBar/NavBar.astro";
import CV from "../components/CV/CV.astro";
import {Image} from "astro:assets";
import aboutMePhoto from "../assets/images/AboutMePhoto.jpg";

const hobbies: string[] = [
    "Health",
    "Painter",
    "Foodie",
    "Runner",
    "Hiker",
    "Bushcrafter",
];
---

<Page title="About Me - Aleks Saunders Portfolio" header="about me.">
    <div class="aboutPageTemplate">
        <div class="textBoxContent">
            <p class="aboutIntroText">
                With two degrees in psychology and a background in scientific
                research, I'm always on the hunt to learn more.
            </p>
            <p>
                Software engineering first caught my eye from a data analysis angle,
                and evolved to become a love of simply making <i>things</i> - both in
                the front- and back-end.
            </p>
            <p>
                In my spare time I enjoy (hate) pushing my own limits in silly running
                and hiking challenges. Have you ever tried walking the perimeter of the
                Isle of Wight in two days? I wouldn't recommend it.
            </p>
            <div class="column">
                <ul class="hobbyListContainer">
                    {
                        hobbies.map((hobby: string) => (
                                <li class="hobbyList">{hobby}</li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <div class="photoContainer">
            <Image
                    src={aboutMePhoto}
                    class="photo"
                    alt="a bust-high photo of me smiling towardas the camera and standing on a snowy mountain"
            />
        </div>
    </div>
    <CV/>
</Page>
