---
import Layout from '../layouts/Layout.astro';
import CSS from './about.module.scss';
---

<Layout title="Aleks Saunders Portfolio">
    <main>
        <body>
        <div className={CSS.pageDividerContainer} class="pageDivider"></div>
        <div class="mainTextBody">
            <h1 className={CSS.title}>hello.</h1>
            <h2 className={CSS.title}>testing</h2>
        </div>
        </body>
    </main>
</Layout>