.contentContainer {
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.pageDividerContainer {
  grid-area: 1 / 1 / 6 / 2;
}

.headerContainer {
  grid-area: 1 / 2 / 2 / 3;
}

.title {
  color: #f29559;
  font-size: 625%;
  margin-left: var(--spacer-4xl);
  margin-bottom: 0;
}

.subtitle {
  color: #f2d492;
  font-size: 312.5%;
  margin-left: var(--spacer-4xl);
  margin-top: 0;
  margin-bottom: var(--spacer-xl);
}

.mainContentContainer {
  grid-area: 2 / 2 / 6 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
}

.pixelArt {
  height: 600px;
  width: 230px;
  position: relative;
  top: -66vh;
  left: -7vw;
  float: left;
  padding-right: 30px;
}

.textBox {
  margin-left: var(--spacer-xl);
}

.textBoxContent {
  margin: 0 var(--spacer-4xl) 0 var(--spacer-6xl);
  font-size: 115%;
  color: #cbd5e0;
  font-weight: 200;
}

.iconContainer {
  padding: var(--spacer-m) 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacer-s);
  width: fit-content;
  margin: var(--spacer-xs) var(--spacer-6xl);
}

.icon {
  height: 35px;
  width: 35px;
  padding: 0 var(--spacer-xs) 0 0;
}

.artCredit {
  color: #cbd5e0;
  font-size: 12px;
  margin: var(--spacer-xs) var(--spacer-6xl);
}

.artistName {
  color: pink;
  text-decoration: none;
}

.artistName:hover {
  color: #b8b08d;
}

.skillsBox {
  margin: 0 var(--spacer-3xl) 0 var(--spacer-xl);
  grid-column: 2 / 3;
  display: flex;
}

.column {
  flex: 50%;
}

.skillList {
  color: #cbd5e0;
  list-style: none;
  font-size: 112.5%;
}

.skillListContainer {
  padding: 0;
}

.skillSubtitle {
  font-size: 125%;
  margin-top: 0;
  font-weight: bold;
  color: #c9c19f;
}
