.pageDivider {
  display: grid;
  grid-template-columns: 1.2fr max-content 5fr;
}

.aleksImage {
  padding-top: var(--spacer-6xl);
}

.pageContainer {
  padding-left: var(--spacer-m);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: var(--spacer-1xl);
}

.textContainer {
  width: 100%;
  max-width: 500px;
  font-size: 115%;
  color: #cbd5e0;
  font-weight: 200;
}

.welcomeBlock {
  width: fit-content;
  margin-left: -70px;
}

.title {
  color: #f29559;
  font-size: 625%;
  margin-bottom: 0;
}

.subtitle {
  color: #f2d492;
  font-size: 312.5%;
  margin: 0;
}

.textBoxContent {
  margin-top: 0;
}

.iconContainer {
  padding: var(--spacer-m) 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacer-s);
  width: fit-content;
}

.icon {
  height: 35px;
  width: 35px;
  padding: 0 var(--spacer-xs) 0 0;
}

.artCredit {
  color: #cbd5e0;
  font-size: 12px;
}

.artistName {
  color: pink;
  text-decoration: none;
}

.artistName:hover {
  color: #b8b08d;
}

.skillsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacer-3xl);
}

.column {
  flex: 50%;
}

.skillList {
  color: #cbd5e0;
  list-style: none;
  font-size: 112.5%;
}

.skillListContainer {
  padding: 0;
}

.skillSubtitle {
  font-size: 125%;
  margin-top: 0;
  font-weight: bold;
  color: #c9c19f;
}

.welcomeSkillsGrid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--spacer-4xl);
  width: fit-content;
}

.pixelArt {
  height: 600px;
  width: 230px;
}
