---
import './navBar.css';
---

<div class="navLinksContainer">
    <ul>
        <li class="navList"><a class="navLink" href="">about</a></li>
        <li class="navList"><a class="navLink" href="">projects</a></li>
        <li class="navList"><a class="navLink" href="">contact</a></li>
    </ul>
</div>