---
import "./NavBar.css"

const navbar = [
    {
        href: "/",
        name: "home",
    },
    {
        href: "/about",
        name: "about",
    },
];
---

<div class="navBarContainer">
    {
        navbar.map((navbar) => (
                <a class="navBarLink" href={navbar.href}>
                    <div class="navBarPip">{navbar.name}</div>
                </a>
        ))
    }
</div>