---
const navbar = [
    {
        href: "/",
        name: "home",
    },
    {
        href: "/about",
        name: "about",
    },
];
---

<div class="navBarContainer">
    {
        navbar.map((navbar) => (
                <a class="navBarLink" href={navbar.href}>
                    <div class="navBarPip">{navbar.name}</div>
                </a>
        ))
    }
</div>

<style>
    .navBarLink {
        color: unset;
        text-decoration: none;
    }

    .navBarContainer {
        border: 1px solid purple;
        display: flex;
        flex-direction: column;
        gap: var(--spacer-m);
    }

    .navBarPip {
        border: 1px solid yellow;
        width: fit-content;
    }

    @media only screen and (max-width: 1050px) {
        .navBarContainer {
            flex-direction: row;
            justify-content: end;
        }
    }

    //.navListContainer {
    //    grid-area: 1 / 2;
    //}
    //
    //.navList {
    //    list-style: none;
    //    font-size: 112.5%;
    //    padding-top: var(--spacer-l);
    //}
    //
    //.navLink {
    //    color: #cbd5e0;
    //    text-decoration: none;
    //    //transition: all 500ms;
    //}
    //
    ////.navLink:hover {
    ////    color: #ffa9b7;
    ////    font-size: 150%;
    ////    transition: all 500ms;
    ////}
    //
    //@media only screen and (max-width: 1010px) {
    //    .navList {
    //
    //    }
    //
    //    .navLink {
    //        padding: var(--spacer-l);
    //    }
    //}

</style>
