.navBarLink {
    color: unset;
    text-decoration: none;
}

.navBarContainer {
/ / border: 1 px solid purple;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-m);
}

.navBarPip {
/ / border: 1 px solid yellow;
    width: fit-content;
    color: #cbd5e0;
    text-decoration: none;
    transition: all 500ms;
    font-size: 20px;
}

.navBarPip:hover {
    color: #ffa9b7;
    font-size: 150%;
    transition: all 500ms;
}

@media only screen and (max-width: 1050px) {
    .navBarContainer {
        flex-direction: row;
        justify-content: end;
    }
}
