---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
<style is:global>
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    :root {
        --spacer-xs: 2.5px;
        --spacer-s: 5px;
        --spacer-m: 10px;
        --spacer-l: 20px;
        --spacer-xl: 30px;
        --spacer-1xl: 40px;
        --spacer-2xl: 60px;
        --spacer-3xl: 80px;
        --spacer-4xl: 100px;
        --spacer-5xl: 120px;
        --spacer-6xl: 135px;
    }

    html {
        font-family: system-ui, sans-serif;
        background-color: #17202a;
    }

    body {
        margin: 0;
        color: white;
        box-sizing: border-box;
    }

    code {
        font-family: Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
</style>
