---
import Layout from './Layout.astro';
import NavBar from '../components/NavBar/NavBar.astro';
import "./Page.css";

interface Props {
    title: string;
    header: string;
}

const {title, header} = Astro.props;
---

<Layout title={title}>
    <main>
        <div class="pageContainerTemplate">
            <NavBar/>
            <div class="gridContainer">
                <div class="pageContainerHeader">
                    <h1 class="title">{header}</h1>
                </div>
                <div>
                    <slot/>
                </div>
            </div>

        </div>
    </main>
</Layout>